.env
.env.*
!.env.example
__pycache__/
*.py[cod]
*.db
tmp/
.pytest_cache/
.venv/
venv/
voicevox_engine/
*.gguf
test_voicevox.wav
# Virtual Environment
venv/

# Python
__pycache__/
*.pyc

# AI Models
*.pth
*.index
*.safetensors

# jika semua model ada di folder ini
voice_shiro/
voice_sishin/